.thumb {
    width: 22%;
    /*height: 33%;*/
}

.line {
    height: 32%;
    padding-top: 20px;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*padding-left: 10px;*/
    text-align: center;
}

.item {
    /*display: inline-block;*/
    width: 25%;
    height: 99%;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

img,
iframe {
    height: 100%;
    border-radius: 10px;
}

span {
    display: block;
}

body {
    overflow-y: hidden;
    background-color: black;
}